<div class="container">
  <h2>All your bookings for <%= @game.name%></h2>
  <div class="row">
    <%@bookings.each do |booking|%>
      <div class="col-sm-12 col-lg-6">
        <div class="booking-card">
          <div class="booking-information">
            <p><strong>Customer :</strong> <%= booking.user.name%></p>
            <p><strong>Start date :</strong> <%= booking.date_begin%></p>
            <p><strong>Start end :</strong> <%= booking.date_end%></p>
            <p><strong>Status :</strong> <%= booking.status%></p>
          </div>

          <div class="update-status">
            <%= link_to accept_booking_path(booking), method: :patch do%>
              <i class="fas fa-check-circle"></i>
            <%end %>
            <%= link_to decline_booking_path(booking), method: :patch do%>
              <i class="fas fa-times-circle"></i>
            <%end %>
          </div>

        </div>

      </div>
    <%end%>
  </div>
</div>
