<%= render 'shared/banner-homepage' %>
<div class="container">
  <div class="row">
    <%@games.each do |game|%>
      <div class="col-lg-4 col-sm-12">
        <%= link_to game_path(game), class:"btn-card" do%>
          <div class="card-trip">
            <%= cl_image_tag(game.photo.key, crop: :fill) %>
            <%# <img src="https://tse2.mm.bing.net/th?id=OIP.NWxz-CpsiOKJgAscXep7QgHaE8&pid=Api&P=0&w=260&h=173" /> %>
            <div class="card-trip-infos">
              <div>
                <h2><%= game.name%></h2>
                <div class="filters">
                  <div class="symbol">
                    <i class="fas fa-coins"></i>
                    <p> <%=game.price%>$ </p>
                  </div>
                  <div class="symbol">
                    <i class="fas fa-user-friends"></i>
                    <p><%=game.min_player%>-<%=game.max_player%> players</p>
                  </div>
                  <div class="symbol">
                    <i class="fas fa-clock"></i>
                    <p><%=game.playtime%> mins</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
