<%=simple_form_for(game) do |f|%>
    <%= f.input :name%>
    <%= f.input :description%>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.input :price%>
    <div class="nb-player">
      <div class="player">
        <%= f.input :min_player%>
      </div>
      <div class="player">
        <%= f.input :max_player%>
      </div>
    </div>
    <%= f.input :playtime%>
    <%= f.input :address,
            input_html: { data: { geocoder_target: "address" } , class: "d-none" },
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
    <%= f.submit class:"btn-submit"%>
  <%end%>
