<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="information">
        <h1><%=@game.name%></h1>
        <div class="details">
          <div class="detail">
            <i class="fas fa-coins"></i>
            <p><%=@game.price%>$</p>
          </div>
          <div class="detail">
            <i class="fas fa-user-friends"></i>
            <p><%=@game.min_player%>-<%=@game.max_player%> players</p>
          </div>
          <div class="detail">
            <i class="fas fa-clock"></i>
            <p><%=@game.playtime%> mins</p>
          </div>
        </div>
        <div class="description">
          <h2>Description</h2>
          <p><%= @game.description%></p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="form-date">
        <p><strong><%= @game.price%></strong> / nigth</p>
        <form>
          <div class="input-group">
            <span class="input-date" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2022" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-date" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2022" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn-submit mt-2" style="width: 100%">
        </form>
      </div>

    </div>
  </div>
</div>
