<div class="container" data-controller="viewprofil">
  <h2>Hello <%=current_user.name%></h2>

  <h4 class="btn btn-unactive" data-action = "click->viewprofil#display" data-choice="products" data-viewprofil-target="btnproducts">Your products</h4>
  <h4 class="btn btn-active" data-action = "click->viewprofil#display" data-choice="bookings" data-viewprofil-target="btnbookings">Your bookings</h4>
  <h4 class="btn btn-unactive" data-action = "click->viewprofil#display" data-choice="history" data-viewprofil-target="btnhistory">Your history</h4>

  <div class="products-view  d-none" data-viewprofil-target="products">
    <div class="row">
      <%@games.each do |game|%>
        <div class="col-lg-6 col-sm-12">
          <div class="card-product">
            <%=cl_image_tag game.photos.first.key%>
            <div class="card-product-infos">
                <h3><%= game.name%></h3>
                <div class="icon-status">
                  <%= link_to "All bookings", game_bookings_path(game)%>
                  <%= link_to edit_game_path(game) do%>
                    <i class="fas fa-pen"></i>
                  <%end%>
                  <%= link_to game_path(game), method: :delete do%>
                    <i class="fas fa-trash-alt"></i>
                  <%end%>
                </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="bookings-view" data-viewprofil-target="bookings">
    <div class="row">
      <%@bookings.each do |booking|%>
        <%if booking.date_end > Time.now %>
          <div class="col-lg-6 col-sm-12">
            <div class="card-product-booking">
              <%=cl_image_tag booking.games.first.photo.key%>
              <div class="card-product-infos">
                  <h3><%= booking.game.name%></h3>
                  <p><strong>Start date :</strong> <%= booking.date_begin.strftime("%a, %d %b %Y")%></p>
                  <p><strong>End date :</strong> <%= booking.date_end.strftime("%a, %d %b %Y")%></p>
                  <div class="pending-status">
                    <%if booking.status == "Accept"%>
                      <div class="status-accept">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                        <p><strong>Contact :</strong> <%= booking.game.user.email%></p>
                      </div>
                    <%elsif booking.status == "Decline"%>
                      <div class="status-decline">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                      </div>
                    <%else%>
                      <div class="status-waiting">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                      </div>
                    <%end%>
                  </div>
              </div>
              <div class="trash">
                <%= link_to booking_path(booking), method: :delete do%>
                  <i class="fas fa-trash-alt"></i>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="history-view" data-viewprofil-target="history">
     <div class="row">
      <%@bookings.each do |booking|%>
        <%if booking.status == "Accept" && booking.date_end < Time.now %>
          <div class="col-lg-6 col-sm-12">
            <div class="card-product-booking">
              <%=cl_image_tag booking.games.first.photo.key%>
              <div class="card-product-infos">
                  <h3><%= booking.game.name%></h3>
                  <p><strong>Start date :</strong> <%= booking.date_begin.strftime("%a, %d %b %Y")%></p>
                  <p><strong>End date :</strong> <%= booking.date_end.strftime("%a, %d %b %Y")%></p>
                  <div class="pending-status">
                    <%if booking.status == "Accept"%>
                      <div class="status-accept">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                        <p><strong>Contact :</strong> <%= booking.game.user.email%></p>
                      </div>
                    <%elsif booking.status == "Decline"%>
                      <div class="status-decline">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                      </div>
                    <%else%>
                      <div class="status-waiting">
                        <p><strong>Status :</strong> <%= booking.status%></p>
                      </div>
                    <%end%>
                  </div>
              </div>
              <div class="trash">
                <%= link_to booking_path(booking), method: :delete do%>
                  <i class="fas fa-trash-alt"></i>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
